BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse 
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentExternBlock: Indent
PenaltyBreakBeforeFirstCallParameter: 100
SpaceAfterControlStatementKeyword: false
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false


